<?xml version="1.0" encoding="utf-8"?>

<!-- Dev: Augusto Carmo -->
<!-- Dev: LinkedIn: https://www.linkedin.com/in/augustofadc/ -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="carmo.augusto.tvseries">

    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TvSeriesApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TVSeries">

        <activity
            android:name=".ui.activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>